<div class="sidenav">
    <div class="branding">
        <img src="assets/images/logo.png" alt="Logo" class="logo">
        <span class="brand-text">Ugnayan</span>
    </div>
    <div class="nav-links">
        <a routerLink="/home" routerLinkActive="active">
            <span>Home</span>
        </a>
        <a routerLink="/user-profile" routerLinkActive="active">
            <span>Profile</span>
        </a>
        <a (click)="logout()" class="logout-link">
            <span>Logout</span>
        </a>
    </div>
</div>
